<ion-content [fullscreen]="true">
    <ion-grid>
        <ion-row >
            <ion-col>
                <div [ngSwitch]="authenticationModule">
                    <authentication-register *ngSwitchCase="'register'"></authentication-register>
                    <authentication-login *ngSwitchCase="'login'"></authentication-login>
                    <authentication-login *ngSwitchDefault></authentication-login>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>