ion-checkbox {
    margin-right: 20px;
}

#RadiuForLogo ion-avatar {
    --border-radius: 50%;
}

#agreeWithTermsCheckbox {
    font-size: medium;
}

.profilePictureContainer {
    // .container width/ height is responsible for final size of profile picture
    width: 250px;
    height: 250px;
    display: block;
    margin: 0 auto;
}

.outer {
    width: 100% !important;
    height: 100% !important;
    max-width: 400px !important;
    max-height: 400px !important;
    margin: auto;
    // background-color: #6eafd4;
    border-radius: 100%;
    position: relative;
}

#profilePicture {
    width: 100% !important;
    height: 100% !important;
    max-width: 400px !important;
    max-height: 400px !important;
    margin: auto;
    border-radius: 100%;
    position: relative;
    border-radius: 50%;
}

.inner {
    background-color: #fe1424;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
}

.inner:hover {
    background-color: #5555ff;
}
.inputfile {
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: 1;
    width: 50px;
    height: 50px;
}
.inputfile + label {
    font-size: 1.25rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    overflow: hidden;
    width: 50px;
    height: 50px;
    pointer-events: none;
    cursor: pointer;
    line-height: 50px;
    text-align: center;
}
.inputfile + label svg {
    fill: #fff;
}
.custom_button {
    opacity: 80%;
    border-radius: 50px;
    margin: 1em 0;
    fill: clear;
    color: rgb(66, 69, 85);
    --background: #fff;
    --background-hover: #c39cd7;
    --min-width: 10em;
}

.profile_container {
    justify-content: center;
}

.custom_item {
    margin: 1em 0;
    opacity: 90%;
    color: rgb(66, 69, 85);
    --background: #fff;
    --background-hover-opacity: true;
    --ion-color-danger-shade: #c39cd7;
    --ion-color-danger-tint: #c39cd7;
    --ion-color-danger: #c39cd7;
    --ion-color-success: #9fdee9;
    --border-radius: 5px;
}

.avatar {
    margin: auto;
    width: 200px;
    height: 200px;
}

.custom-icon {
    --slot: "icon-only";
    position: absolute;
    right: 0;
    background: transparent;
}
