<div *ngIf="matchIsValid; else matchIsInvalidDisplay">
  <ion-content style="--background: url('/assets/bg_light.jpg') no-repeat center/cover fixed;">
    
  </ion-content>
</div>

<ng-template #matchIsInvalidDisplay>
  <ion-content style="--background: url('/assets/bg_light.jpg') no-repeat center/cover fixed;">
    <ion-row class="ion-justify-content-center">
      <ion-col size-md="6" size-lg="6" size-xs="12">
        <div>
          <ion-img src="/assets/sad-forever-alone.svg"></ion-img>
          <h3 class="bold-center" style="color: #fff">This match does not exist. Sorry!</h3>

          <ion-button [routerLink]="'/tabs/matches'" color="primary" shape="round" size="large" type="submit" expand="block">
            <ion-label><small>Back to matches</small></ion-label>
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-content>
</ng-template>