ion-checkbox {
    margin-right: 20px;
}

#RadiuForLogo
ion-avatar {
    --border-radius: 50%;
}

#agreeWithTermsCheckbox {
    font-size: medium;
    margin: 0.1em 0;
}

.profile_container{
    justify-content: center;
}

.avatar {
    margin: auto;
    width: 190px;
    height: 190px;
}

.custom_button{
    opacity: 80%;
    border-radius: 50px;
    margin: 0.5em 0;
    fill: clear;
    color: rgb(66, 69, 85);
    --background:#fff;
    --background-hover: #9fdee9;
    --background-hover-opacity: true;
    --min-width: 10em;
}

.custom_item{
    margin: 0.1em 0;
    opacity: 90%;
    --background-hover-opacity: true;
    --ion-color-danger-shade: #c39cd7;
    --ion-color-danger-tint: #c39cd7;
    --ion-color-danger: #c39cd7;
    --ion-color-success: #9fdee9;
    --border-radius: 5px;
    padding-bottom: 2px;
}

.custom_policy {
    padding-bottom: 40px;
}

.custom_icon {
    padding-right: 5px;
}