.custom_button{
    opacity: 80%;
    color: #ffffff;
    --background: rgb(66, 69, 85) !important;
    border: none;
    margin-left: 0px;
    padding-left: 0px;
    margin-bottom: 0px;
    width: 60%
}

.custom_toolbar{
    fill: clear;
    --color: #ffffff;
    --ion-color-base: transparent !important;
    --background: rgb(66, 69, 85);
    --border-color: rgb(66, 69, 85);
}