  <form [formGroup]="loginForm" (ngSubmit)="submitLoginForm()">
    <ion-grid fixed>
      <ion-item style="--background: transparent; --border-color: transparent; padding-bottom: 30px;">
        <ion-avatar class="avatar" >
          <img src="/assets/Logo/meme_scout.png">
        </ion-avatar>
      </ion-item>
      <ion-row color="primary" lines="full" class="ion-justify-content-center">
        <ion-col size-md="8" size-lg="8" size-xs="12">
          <h3 class="bold-center" style="color: #fff">Sign in with your existing account</h3>
          <div padding style="padding-bottom: 80px !important;">

            <ion-item class="custom_item">
              <ion-input formControlName="email" type="email" placeholder="Your email"></ion-input>
            </ion-item>
            <shared-validation-message [inputField]="loginForm.controls.email" [inputName]="'Email'">
            </shared-validation-message>

            <ion-item class="custom_item">
              <ion-input formControlName="password" type="password" placeholder="Your password"></ion-input>
            </ion-item>
            <shared-validation-message [inputField]="loginForm.controls.password" [inputName]="'Password'">
            </shared-validation-message>
          </div>

          <div padding>
            <ion-button class="custom_button" shape="round" size="large" type="submit" [disabled]="loginForm.invalid" expand="block">
              <ion-label><small>Let's swipe!</small></ion-label>
            </ion-button>

            <ion-button class="custom_button" shape="round" size="large"  expand="block">
              <ion-label><small>Forgot password?</small></ion-label>
            </ion-button>

            <ion-button class="custom_button" shape="round" size="large" (click)="loginWithGoogle()" expand="block"><ion-icon name="logo-google" class="custom_icon"></ion-icon>
              <ion-label><small>Sign in with Google</small></ion-label>
            </ion-button>
            <ion-button class="custom_button" shape="round" size="large" (click)="loginWithGithub()" expand="block"><ion-icon name="logo-github" class="custom_icon"></ion-icon>
              <ion-label><small>Sign in with GitHub</small></ion-label>
            </ion-button>

            <ion-button class="custom_button" shape="round" size="large" expand="block"
            [routerLink]="'/authentication'" [queryParams]="{component: 'register'}">
            <ion-label><small>No account yet? Sign up!</small></ion-label>
          </ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
</form>