.btn{
    opacity: 80%;
    color: rgb(66, 69, 85);
    --background-hover-opacity: true;
    --background: #ffffff;
    --background-hover: rgb(205, 203, 203);
}

.ion-row{
    justify-content: center;
}