<ion-tabs>
  <ion-tab-bar style="--background:rgb(66, 69, 85)" slot="bottom">
    <ion-tab-button style="--background:rgb(66, 69, 85)"  tab="profile">
      <ion-icon style="color: #ffffff" name="person-circle"></ion-icon>
    </ion-tab-button>

    <ion-tab-button style="--background:rgb(66, 69, 85)" tab="meme-view">
      <ion-icon style="color: #ffffff" name="image"></ion-icon>
    </ion-tab-button>

    <ion-tab-button style="--background:rgb(66, 69, 85)" tab="messages">
      <ion-icon style="color: #ffffff" name="chatbubbles"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
